<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="folderA" value="C:\Users\vladp\Projects\Data-Processing-Project\Data Processing Project\Files\folder_a\"/>
		<add key="folderB" value="C:\Users\vladp\Projects\Data-Processing-Project\Data Processing Project\Files\folder_b\"/>
	</appSettings>
</configuration>