<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--
		Add your path to folder_a and folder_b
		Example:
		<add key="folderA" value="C:\Users\vladp\Projects\Data-Processing-Project\Data Processing Project\Files\folder_a\"/>
		<add key="folderB" value="C:\Users\vladp\Projects\Data-Processing-Project\Data Processing Project\Files\folder_b\"/>-->
		<add key="folderA" value=""/>
		<add key="folderB" value=""/>
	</appSettings>
</configuration>